body {
background:#001a66;
text-align: center;
}
#main{
width: 900px;
height:	1400px;
background: #99ccff;
margin: 25px auto; 
border: dotted 2px #660066;
padding: 14px;
}

.rightimage{
float:right-align;
width:400px;
height:400px;
text-align:right;
}
h1 {
text-align: center;
font-family:"Georgia";
text-shadow: 2px 2px blue;
font: 24pt;
color: #660066;
}
hr {
height: 2px;
color: #660066;
}
p{
font-family: "calibri";
font-size: 16pt;
text-align: left; 
text-indent: 48px;
color: #660066
}
img{
margin:25px;
padding:14px;
border:solid #660066;
}
table {
position:relative;
background:#422442;
width:500px;
height: 400px;
border: #660066;
padding: 1px;
font-style: italic;
font-weight: bold;
margin:left;
color: #ffffff;
bottom:8%

}

h2 {
text-decoration: underline;
color: #660066 ;
text-align:right;

}


.class li {
text-align: right;
padding-right: 100px;
right: 600px;
float:right;
color:#660066
}

button{
color: #660066;
position:relative;
top:5%;




	







